<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/recruterra.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/script.js" charset="utf-8"></script>
</head>
<body>
    @RenderBody()

    <footer id="footer" class="footer-1 mrtop32">
        <div class="main-footer widgets-dark typo-light">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">Recruterra<span></span></h5>
                            <p>Онлайн сервис рекрутинга</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Поддержка<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content"><a href="#.">support@recruterra</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">8 (905) 020-99-52</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">FAQs</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Начать<span></span></h5>
                            <p>Получить полный доступ к системе</p>
                            <a class="underline color-2c2c2c" href="/Access/Signin" target="_blank">Войти</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="widget no-box">
                            <h5 class="widget-title">Контакты<span></span></h5>
                            <ul class="social-footer2">
                                <li>
                                    <a href="https://www.instagram.com/ar.gelick/" title="instagram">
                                        <img width="30" height="30" src="~/images/instagram.png">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/" title="Facebook">
                                        <img width="30" height="30" src="~/images/twitter.png">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=ru" title="Twitter">
                                        <img width="30" height="30" src="~/images/facebook.png">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://t.me/kurechh" title="instagram">
                                        <img width="30" height="30" src="~/images/telegram.png">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    
</body>
</html>
