@{
    ViewBag.Title = "Recruterra - Авторизация";
}
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1;">
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--24 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1><a href="" class="hover-underline color-2c2c2c font-bolder" rel="dofollow">Recruterra</a></h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">Авторизация в системе</span>
                        <form id="stripe-login" method="post">
                            <div class="field padding-bottom--24">
                                <label for="email">Электронная почта</label>
                                <input type="email" name="email" onkeypress="CheckSpaceInput();">
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label for="password">Пароль</label>
                                </div>
                                <input type="password" name="password">
                            </div>
                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="Продолжить">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer-link padding-top--24">
                    <span>Забыли пароль? <a href="/Access/PasswordRecovery" class="hover-underline">Восставление</a></span>
                </div>
                <div class="footer-link">
                    <span>Вы еще не зарегистрированы? <a href="/Access/Signup" class="hover-underline">Регистрация</a></span>
                </div>
            </div>
        </div>
    </div>
</div>