@model IndexData
@{
    ViewBag.Title = "Recruterra - Сообщество";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light media-header-true">
        <div class="container d-flex justify-content-center ">
            @if (Model.User != null)
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown()">&#9776;</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/Home/Index" class="color-2c2c2c">Сводка</a>
                    <a href="/Home/Vacancy" class="color-2c2c2c">Вакансии</a>
                    <a href="/Home/Meeting" class="color-2c2c2c">Встречи</a>
                    <a href="/Home/Resume" class="color-2c2c2c">Резюме</a>
                    <a href="/Home/Article" class="color-2c2c2c">Сообщество</a>
                    <a href="/Settings/Account" class="color-2c2c2c">Профиль</a>
                    <a class="color-green" onclick="UpdateAccount()">Выйти</a>
                </div>
            }
            else
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown2()">&#9776;</a>
                <div id="myDropdown2" class="dropdown-content">
                    <a href="/Access/Signin" class="color-green">Войти</a>
                </div>
            }
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light media-header">
        <div class="container d-flex justify-content-center ">
            <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-center">
                @if (Model.User != null)
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Index">Сводка</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Vacancy">Вакансии</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Meeting">Встречи</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Resume">Резюме</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-green"
                           href="/Home/Article">Сообщество</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Settings/Account">Профиль</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black cursor-pointer" onclick="UpdateAccount()">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black" href="/Access/Signin">Войти</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<div class="container margin-0-auto minheight">
    <p class="color-2c2c2c font-bold font24 mrtop16 mrbottom8 cursor-default">Получено @Model.Articles.Count() статей</p>
    @{ string role = Model.User.Role;}
    @if (role == "Соискатель" || role == "Работодатель")
    {
        foreach (var article in Model.Articles.OrderByDescending(o => o.Id))
        {
            if (article != null)
            {
                <div class="resumes-back mrbottom16 align-items-center">
                    <div class="resumes-back-left">
                        <p class="cursor-default"><b>@article.Name</b></p>
                        <p class="mrtop16 cursor-default">@article.Description</p>
                    </div>
                    <div class="resumes-back-right">
                        <img class="resumes-photo-up-wh cursor-default" src="@article.Photo" width="155" height="135" />
                    </div>
                </div>
            }
        }
    }
</div>