@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #E6E6E6;
    margin: 0 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0 0;
}

a:hover {
    color: #2C2C2C;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    margin: 0 0;
    padding: 0 0;
}

.display-flex {
    display: flex;
}

.list-style-none {
    list-style: none;
}

.align-items-center {
    align-items: center;
}

.color-2c2c2c {
    color: #2C2C2C;
}

.font-32 {
    font-size: 32px;
}

.font-24 {
    font-size: 24px;
}

.pd-left-3percent {
    padding-left: 3.33%;
}

.pd-right-3percent {
    padding-right: 3.33%;
}

.mr-left-1percent {
    margin-left: 2.0%;
}

.mr-right-1percent {
    margin-right: 1.0%;
}

.overflow-auto {
    overflow: auto;
}

.margin-0-auto {
    margin: 0 auto;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.media-header {
    display: inline;
}

.btn {
    border: 1px solid #000;
    border-radius: 5px;
}

.roleselect {
    width: 100% !important;
}

.btn:hover {
    color: #ffffff !important;
    background-color: #8DD7AB !important;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.mr-right-1dot6percent {
    margin-right: 1.666% !important;
}

.mr-right-1dot6percent {
    margin-right: 3.33% !important;
}

.nav-link:hover {
    color: #8DD7AB;
    margin-right: 0;
    margin-left: 0;
}

.color-green {
    color: #8DD7AB !important;
}

.color-red {
    color: #b61f1f !important;
}

.color-green-hover:hover {
    color: #8DD7AB !important;
    text-decoration: none !important;
}

.summary-left {
    margin-right: 1.666%;
    height: 100%;
    width: 100%;
}

.summary-right {
    margin-left: 1.666%;
    height: 100%;
    width: 100%;
}

.summary-allvacancyback {
    margin: 0 0;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 5px;
}

.summary-vacancy-back {
    border-radius: 5px;
    padding: 16px;
    background-color: #E6E6E6;
    display: flex;
}

.summary-vacancy-left {
    margin-right: 16px;
    width: 65%;
}

.summary-meeting-left {
    width: 100%;
}

.summary-meeting-back {
    margin: 0 0;
    padding: 16px;
    border-radius: 5px;
    background-color: #ffffff;
}

.summary-resumes {
    margin: 0 0;
    border-radius: 5px;
}

.summary-resume-1 {
    width: auto;
    border-radius: 5px;
    padding: 16px;
    width: 100%;
    float: left;
    margin-right: 8px;
    background-color: #ffffff;
}

.summary-resume-2 {
    border-radius: 5px;
    width: auto;
    padding: 16px;
    width: 100%;
    float: left;
    margin-left: 8px;
    background-color: #ffffff;
}

.summary-community {
    margin: 0 0;
    padding: 16px;
    border-radius: 5px;
    background-color: #ffffff;
    height: 40%;
}

.summary-community-1 {
    width: 100%;
    height: 100%;
}

.summary-community-2 {
    width: 100%;
    height: 100%;
}

.account-back {
    margin: 0 0;
    padding: 16px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}
.myresume-back {
    margin: 0 0;
    padding: 16px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

.oneofthevacancy-back {
    margin: 0 0;
    padding: 16px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

.employer-info {
    display: flex;
}

.align-items-top {
    align-items: start;
}

.w-12 {
    width: 30%;
}

.account-input {
    margin-left: 0px;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 50%;
    height: auto;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    outline-color: #8DD7AB;
    background-color: rgb(255, 255, 255);
}

.add-vacancy-input {
    margin-left: 0px;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 60%;
    height: auto;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    outline-color: #8DD7AB;
    background-color: rgb(255, 255, 255);
}

.add-meeting-input {
    margin-left: 0px;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    height: auto;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    outline-color: #8DD7AB;
    background-color: rgb(255, 255, 255);
}

span[asp-validation-for="ProfileImage"] {
    display: block !important;
}


textarea {
    width: 50%;
    resize: vertical;
    max-height: 200px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 0em solid #E6E6E6;
    font-size: 16px;
    line-height: 28px;
    outline-color: #8DD7AB;
    background-color: rgb(255, 255, 255);
}

.add-vacancy-textarea {
    resize: vertical;
    max-height: 200px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #b9b9b9 !important;
    outline-color: #8DD7AB;
    font-size: 16px;
    line-height: 28px;
    width: 60%;
    background-color: rgb(255, 255, 255);
}

.add-vacancy-select {
    margin-left: 0px;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 60%;
    height: auto;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    outline-color: #8DD7AB;
    background-color: rgb(255, 255, 255);
}

select {
    margin-left: 0px;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 50%;
    height: auto;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    outline-color: #8DD7AB;
    background-color: rgb(255, 255, 255);
}

.footer {
    background-color: #ffffff;
}

.footer-left {
    width: 100%;
}

.footer-right {
    width: 100%;
}

.float-right {
    float: right;
}

.align-items-center {
    align-items: center !important;
}

.align-items-bottom {
    align-items: baseline;
}

.white-space-nowrap {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.svg:hover {
    transform: translate(3px, 0);
    -webkit-transform: translate(3px, 0);
    /** Chrome & Safari **/
    -o-transform: translate(3px, 0);
    /** Opera **/
    -moz-transform: translate(3px, 0);
    /** Firefox **/
}

.back-color-white {
    background-color: #ffffff;
}

.color-black {
    color: black !important;
}

.dd-flex {
    display: flex;
}

.dd-inline {
    display: inline-block;
}

.underline {
    color: #8DD7AB;
}

.h-170px {
    height: 170px;
}

.cursor-default{
    cursor: default;
}

    .underline:hover {
        text-decoration: underline;
        color: #2C2C2C;
    }

.media-header {
    display: flex;
}

.media-header-true {
    display: none;
}

.media-header-false {
    display: flex;
}

.vacancy-left {
    width: 20%;
}

.vacancy-right {
    width: 80%;
}

.account-left {
    width: 30%;
}
.myresume-left {
    width: 30%;
}
.account-right {
    width: 40%;
}
.myresume-right {
    width: 70%;
}
.add-vacancy-left{
    margin-right: 8px;
    width: 50%;
}
.add-vacancy-right {
    margin-left: 8px;
    width: 50%;
}

.hover-underline:hover {
    text-decoration: underline;
    text-decoration-color: #8DD7AB;
    text-decoration-thickness: 3px;
}

.vacancy-vacancy-back {
    padding: 16px;
    margin: 0 0;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
}

.resumes-back {
    padding: 16px;
    margin: 0 0;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
}

.media-filter-false {
    display: inline;
}

.media-font-lower {
    font-size: 16px;
}

.media-wrap-text {
    display: flex;
}

.meetings-back {
    background-color: #ffffff;
    border-radius: 5px;
    width: 60%;
    padding: 16px;
    margin: 0 20% 0 20%;
}

.add-vacancy-back {
    background-color: #ffffff;
    border-radius: 5px;
    width: 80%;
    padding: 16px;
    margin: 0 10% 0 10%;
}

.add-meeting-back {
    background-color: #ffffff;
    border-radius: 5px;
    width: 40%;
    padding: 16px;
    margin: 0 30% 0 30%;
}

.vacancy-back-left{
    width: 80%;
}
.vacancy-back-right {
    margin-left: auto !important;
    margin-right: 0 !important;
}
.resumes-back-left{
    width: 80%
}
.resumes-back-right {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.summary-vacancy-right {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.w-250px {
    width: 250px;
}

.media-wrap-inputs {
    display: flex;
}

@media screen and (max-width: 1100px) {
    .dd-flex {
        display: block;
    }

    .summary-left {
        margin: 0 0;
    }

    .summary-right {
        margin: 0 0;
    }

    .media-mrtop {
        margin-top: 16px;
    }

    .media-header {
        display: none;
    }

    .media-header-true {
        display: flex;
    }

    .media-header-false {
        display: none;
    }

    .vacancy-left {
        margin: 0 0;
        width: 100%;
    }

    .vacancy-right {
        margin-top: 16px;
        width: 100%;
    }

    .media-filter-false {
        display: none;
    }

    .media-font-lower {
        font-size: 14px;
    }

    .media-wrap-text {
        display: block;
    }

    .meetings-back {
        margin: 0 0;
        width: 100%;
    }
    .add-vacancy-back {
        margin: 0 0;
        width: 100%;
    }
    .add-meeting-back {
        margin: 0 0;
        width: 100%;
    }
    .meeting-back-left {
        width: 100% !important;
    }
    .meeting-back-right {
        margin-top: 8px;
    }

    .nav-link {
        display: inline;
    }
    .account-left {
        width: 100%;
    }
    .myresume-left {
        width: 100%;
    }
    .add-vacancy-left {
        margin-top: 16px;
        width: 100%;
    }

    .account-right {
        margin-top: 16px;
        width: 100%;
    }
    .myresume-right {
        margin-top: 16px;
        width: 100%;
    }
    .add-vacancy-right {
        margin-top: 16px;
        width: 100%;
    }

    .account-back {
        padding: 16px 24px;
    }
    .myresume-back {
        padding: 16px 24px;
    }

    .media-wrap-inputs {
        display: inline !important;
    }

    .account-input {
        width: 100%;
    }

    select {
        width: 100%;
    }

    .w-12 {
        width: 100%;
        margin-top: 8px;
    }

    .employer-info {
        display: inline;
    }

    .vacancy-back-left{
        width: 100%;
    }
    .vacancy-back-right {
        margin-left: auto !important;
        margin-right: 0 !important;
    }
    .summary-vacancy-left {
        width: 100%;
    }
    .summary-vacancy-right {
        margin-left: auto !important;
        margin-right: 0 !important;
    }
    .add-vacancy-left {
        margin-left: auto !important;
        margin-right: 0 !important;
    }
    .add-vacancy-right {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .resumes-back-left {
        width: 100%;
    }

    .resumes-back {
        margin: 0 0;
        width: 100%;
        display: block;
    }
    .resumes-photo-up-wh{
        width: 12rem;
        height: 14rem;
    }

    .add-vacancy-textarea {
        width: 100%;
    }
    .add-vacancy-input {
        width: 100%;
    }
    .add-vacancy-select {
        width: 100%;
    }
    .add-meeting-input{
        width: 100%;
    }
}

.mr-0-0 {
    margin: 0 0;
}

.no-wrapping {
    flex-wrap: nowrap;
}

.meeting-back-left {
    width: 80%;
}

.meeting-back-right {
    width: 20%;
}

.mrtop8 {
    margin-top: 0.5rem;
}

.minheight {
    min-height: 640px;
}

.dropdown-content {
    left: 0;
    top: 4rem;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #E6E6E6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-filter {
    left: 0;
    top: 8rem;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #E6E6E6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #ddd
    }

.show {
    display: block;
}

/* Main Footer */
footer .main-footer {
    padding: 20px 0;
    background: #fff;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* Copy Right Footer */

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

    .footer-copyright nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

/* Footer Top */

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
    display: inline-block;
}

/*==================== 
  Widgets 
====================== */
.widget {
    padding: 20px;
    margin-bottom: 40px;
}

    .widget.widget-last {
        margin-bottom: 0px;
    }

    .widget.no-box {
        padding: 0;
        background-color: transparent;
        margin-bottom: 40px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
    }

    .widget.subscribe p {
        margin-bottom: 18px;
    }

    .widget li a {
        color: #2C2C2C;
    }

        .widget li a:hover {
            color: #8DD7AB;
        }

.widget-title {
    margin-bottom: 20px;
}

    .widget-title span {
        background: #839FAD none repeat scroll 0 0;
        display: block;
        height: 1px;
        margin-top: 25px;
        position: relative;
        width: 20%;
    }

        .widget-title span::after {
            background: inherit;
            content: "";
            height: inherit;
            position: absolute;
            top: -4px;
            width: 50%;
        }

    .widget-title.text-center span,
    .widget-title.text-center span::after {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #000;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

    ul.social-footer2 li {
        display: inline-block;
        padding: 0;
    }

        ul.social-footer2 li a:hover {
            background-color: #E6E6E6;
        }

        ul.social-footer2 li a {
            display: block;
            height: 30px;
            width: 30px;
            text-align: center;
        }


.under-line {
    text-decoration: underline 3px;
    text-underline-offset: 24px;
    text-underline-position: below;
}

.text-end {
    float: right;
    width: 25%;
    padding: 0px;
    text-align: center;
}

.btndelmeet {
    float: right;
    padding: 0px;
    text-align: center;
    margin-top: 16px;
    margin-right: 32px;
}

.btnaddresponse {
    vertical-align: middle;
    float: right;
    padding: 0px;
    text-align: center;
    width: 200px;
    margin-right: 32px;
}

.btneditacc {
    vertical-align: middle;
    padding: 0px;
    text-align: center;
    width: 200px;
    margin-left: 32px;
}


.height1400 {
    height: 1400px;
}

.height950 {
    height: 950px;
}

.openvakansii {
    position: relative;
    margin-left: 0px;
    display: inline-block;
}

.meeting {
    position: relative;
    margin-left: 0px;
    margin-left: 0px;
    display: inline-block;
}

.opvacancy-text {
    text-decoration: none;
    cursor: pointer;
    color: #2C2C2C;
    font-size: 28px;
    font-weight: bold;
}

    .opvacancy-text:hover {
        color: #2C2C2C;
    }

.allvacancyback {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    height: 700px;
    width: 840px;
    border-radius: 5px;
}

.vacancy1back {
    position: absolute;
    width: 808px;
    margin-top: 25px;
    margin-left: 16px;
    background-color: #8DD7AB;
    border-radius: 5px;
}

.strelka {
    padding-top: 0px;
    margin-left: 16px;
    cursor: pointer;
}

.vacancy2back {
    position: absolute;
    width: 808px;
    margin-top: 157px;
    margin-left: 16px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.vacancy3back {
    position: absolute;
    width: 808px;
    margin-top: 289px;
    margin-left: 16px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.vacancy4back {
    position: absolute;
    width: 808px;
    margin-top: 421px;
    margin-left: 16px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.vacancy5back {
    position: absolute;
    width: 808px;
    margin-top: 553px;
    margin-left: 16px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.vacancyname-text {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 25px;
}

.vacancyname1 {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 32px;
    margin-left: 32px;
    display: inline-block;
}

.vacancy1workexperience {
    margin-top: 16px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancy1typeofemployment {
    margin-top: 16px;
    margin-left: 64px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancy1adddate {
    margin-top: 16px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancy1companyname {
    margin-top: 16px;
    margin-left: 64px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 16px;
}

.vacancycompanyname1 {
    margin-top: 16px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancysalary1 {
    margin-top: 16px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancycity1 {
    margin-top: 16px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancyaddinfo1 {
    width: 750px;
    margin-top: 16px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: normal;
}

.leftbar {
    margin-top: 32px;
    display: inline-block;
}

.rightbar {
    position: absolute;
    display: inline-block;
    margin-top: 32px;
    margin-left: 64px;
}

.allmeetingback {
    position: relative;
    border-radius: 5px;
    margin-top: 16px;
    width: 808px;
    height: 150px;
    background-color: #ffffff;
}


.photomeet {
    display: inline-block;
    color: #2C2C2C;
    display: table-cell;
    vertical-align: middle;
}

.mrtop3 {
    margin-top: 3px;
}

.mrtop16 {
    margin-top: 16px;
}

.mrtop32 {
    margin-top: 32px;
}

.mrtop64 {
    margin-top: 64px;
}

.mrtop24 {
    margin-top: 24px;
}

.mrtop20 {
    margin-top: 20px;
}

.mrleft16 {
    margin-left: 16px;
}
.mrleft8 {
    margin-left: 8px;
}

.mrleft32 {
    margin-left: 32px;
}

.mrleft64 {
    margin-left: 64px;
}

.mrleft128 {
    margin-left: 128px;
}

.mrleft400 {
    margin-left: 550px;
}

.mrleft256 {
    margin-left: 360px;
}

.mrleft2566 {
    margin-left: 325px;
}

.mrleft28 {
    margin-left: 28px;
}

.mrright16 {
    margin-right: 16px;
}
.mrright8 {
    margin-right: 8px;
}

.mrbottom8 {
    margin-bottom: 8px;
}
.mrbottom16 {
    margin-bottom: 16px;
}

.imgresume {
    width: 200px;
    height: 200px;
}

.timemeet {
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}

.namemeet {
    display: inline-block;
    margin-top: 16px;
    margin-left: 32px;
    color: #2C2C2C;
    font-size: 16px;
    font-weight: bolder;
}

.descripmeet {
    display: inline-block;
    color: #2C2C2C;
    font-size: 14px;
}

.left {
    display: table-cell;
    vertical-align: middle;
    width: 800px;
}

.right {
    width: 300px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
}

.w-200 {
    width: 200px !important;
}

.resume {
    position: relative;
    margin-left: 0px;
    display: inline-block;
}

.article {
    position: relative;
    margin-left: 0px;
    display: inline-block;
}

.resume1back {
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    width: 393px;
    height: 90px;
    background-color: #ffffff;
    cursor: pointer;
}

.resume2back {
    display: inline-block;
    vertical-align: middle;
    width: 393px;
    height: 90px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.article1back {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    width: 360px;
    height: 268px;
    cursor: pointer;
}

.article2back {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    width: 300px;
    height: 268px;
    cursor: pointer;
}

.strokaresume {
    display: inline-block;
}

.resumeinfo {
    display: inline-block;
}

.font-bolder {
    font-weight: bolder;
}

.allarticle {
    border-radius: 5px;
    width: 808px;
    height: 308px;
    background-color: #ffffff;
    cursor: pointer;
}

.article-text {
    margin-top: -60px;
    color: #ffffff;
    line-height: 25px;
    font-size: 20px;
}

.firstline {
    position: relative;
    margin-top: 12px;
    width: 1000px;
    margin-left: 500px;
    margin-right: auto;
    flex: 1 0 auto;
}

.aboutus {
    margin-left: 0%;
    display: inline-block;
    vertical-align: top;
}

.support {
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
}

.fontbold {
    font-weight: bold;
}

.font16 {
    font-size: 16px;
    text-decoration: none;
    color: #2C2C2C;
}

    .font16:hover {
        color: #2C2C2C;
    }

.font36 {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #2C2C2C;
    margin-left: 4.5%;
}


.font-bold {
    font-weight: bold;
}

.font24 {
    font-size: 24px;
}

.font20 {
    font-size: 20px;
}

.color-bububu {
    color: #2C2C2C;
}

a {
    color: #000;
    text-decoration: unset;
}

.login-root {
    background: #E6E6E6;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.flex-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.box-root {
    box-sizing: border-box;
}

.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}

.box-background--blue {
    background-color: #8DD7AB;
}

.box-background--white {
    background-color: #ffffff;
}

.box-background--blue800 {
    background-color: #8DD7AB;
}

.box-background--gray100 {
    background-color: #e3e8ee;
}

.box-background--cyan200 {
    background-color: #8DD7AB;
}

.padding-top--64 {
    padding-top: 64px;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.padding-horizontal--48 {
    padding: 48px;
}

.padding-bottom--15 {
    padding-bottom: 15px;
}


.flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: #8DD7AB 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

span {
    display: block;
    line-height: 28px;
    color: #000;
}

label {
    margin-bottom: 10px;
}

.reset-pass a, label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.reset-pass > a {
    text-align: right;
    margin-bottom: 10px;
}

.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #8DD7AB;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
    background-color: #8DD7AB;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, #8DD7AB 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #6ea383;
    }

.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}

.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}

a.ssolink {
    display: block;
    text-align: center;
    font-weight: 600;
}

.footer-link span {
    font-size: 14px;
    text-align: center;
}

.listing a {
    color: #8DD7AB;
    font-weight: 600;
    margin: 0 10px;
}

.animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
}

.animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
}

.tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
}

.tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes animationRightLeft {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
    }
}
